@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Service Lifetimes Demo</h1>
    <p>Перевірте консоль вашої IDE або термінал, щоб побачити GUID сервісів.</p>
</div>